*.suo
*.config
*.v2
*.testlog
*.manifest
api/.vs/ProjectSettings.json
api/.vs/slnx.sqlite
api/.vs/VSWorkspaceState.json
api/CarnageApi/bin/Debug/netcoreapp3.0
api/CarnageApi/bin/Release/net5.0
*.dll
*.cache
*.cache
api/CarnageApi/bin/Release
api/CarnageApi/bin/Debug/net5.0
api/CarnageApi/obj/Debug/net5.0
api/CarnageApi/obj/publish/win-x64
api/CarnageApi/obj/Release/net5.0/win-x64/PubTmp/Out
api/CarnageApi/obj/Release/net5.0/win-x64
api/CarnageApi/obj/Release/net5.0
api/CarnageApi/obj/Release/netcoreapp3.0/PubTmp/Out
api/CarnageApi/obj/Release/netcoreapp3.0
**/Debug
**/obj
**/Release
